{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "eslint-plugin-babel",
    "react",
    "prettier"
  ],
  "rules": {
    "global-require": "warn",
    "import/exports-last": "error",
    "import/extensions": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": [
      "warn"
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/accessible-emoji": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "tabWidth": 2
      }
    ],
    "no-irregular-whitespace": [
      "error",
      {
        "skipComments": false,
        "skipRegExps": false,
        "skipStrings": false,
        "skipTemplates": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-underscore-dangle": "off",
    "no-use-before-define": [
      "error",
      {
        "classes": true,
        "functions": false,
        "variables": true
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "next": "return",
        "prev": "*"
      },
      {
        "blankLine": "any",
        "next": "return",
        "prev": [
          "block-like",
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "always",
        "next": "export",
        "prev": "*"
      },
      {
        "blankLine": "any",
        "next": "export",
        "prev": "export"
      }
    ],
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    ],
    "react/default-props-match-prop-types": [
      "error",
      {
        "allowRequiredDefaults": false
      }
    ],
    "react/destructuring-assignment": "warn",
    "react/forbid-prop-types": 1,
    "react/jsx-closing-tag-location": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".js"
        ]
      }
    ],
    "react/jsx-first-prop-new-line": "error",
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-key": "error",
    "react/jsx-sort-default-props": [
      "error",
      {
        "ignoreCase": true
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "ignoreCase": true
      }
    ],
    "react/no-access-state-in-setstate": "warn",
    "react/no-redundant-should-component-update": "off",
    "react/prefer-stateless-function": 1,
    "react/require-default-props": "error",
    "react/require-optimization": "warn",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "lifecycle",
          "/^on.+$/",
          "getters",
          "setters",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "everything-else",
          "/^render.+$/",
          "render"
        ]
      }
    ],
    "react/sort-prop-types": [
      "error",
      {
        "callbacksLast": false,
        "ignoreCase": true,
        "requiredFirst": false
      }
    ]
  }
}
