body {
    padding-top: 50px;
}

.footer {
    margin-top: 50px;
    padding: 10px 30px 0;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

#search-bar {
    padding: 50px 0;
}

#tv-show-container {
    padding: 50px 0;
}

.tv-show {
    border: #e3e3e3 solid 1px;
    margin-bottom: 20px;
    overflow: hidden;
}

.tv-show__cover {
    float: left;
    width: 210px;
    height: 295px;
}

.tv-show-info {
    float: left;
    margin: 0 0 10px 15px;
}

@keyframes blink {
    50% {
        color: transparent
    }
}

.loader__dot {
    animation: 1s blink infinite
}

.loader__dot:nth-child(2) {
    animation-delay: 250ms
}

.loader__dot:nth-child(3) {
    animation-delay: 500ms
}

.episode__star {
    float: left;
    margin-right: 10px;
}

.favourite-star {
    width: 25px;
}
